@import "setup";

$baseFont: 'Inconsolata', monospace;
$subFont: 'Lora', serif;
$primaryColor: #d72323;
$secondaryColor: #3a4750;
$tertiaryColor: #303841;
$quaternaryColor: #eeeeee;

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}
body {
    background-color: $tertiaryColor;
}
header {
    font-family: $baseFont;
    letter-spacing: 5px;
    height: 410px;
    background-color: $primaryColor;
    color: $tertiaryColor;
    .title {
        display: flex;
        flex-direction: column;     
        align-items: center;

        h1 {
        font-size: 6.2rem;
        margin: 0;
        }
        h2 {
        font-family: $subFont;
        font-weight: 400;
        font-size: 5.2rem;
        margin: 0;
        padding-bottom: 8px;
        }
        i {
            font-size: 5rem;
        }
    }
}
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
        font-size: 2rem;
        padding-left: 40px;
    }
    nav ul{
        display: flex;
        justify-content: center;
        align-items: center;

        li{
            list-style: none;
            padding: 0 18px;
            a {
                text-decoration: none;
                color: $tertiaryColor;
                font-weight: bold;
            }
            select {
                margin: 0 20px;
                padding: 6px 10px;
                background-color: $tertiaryColor;
                border-radius: 4%;
                border: $quaternaryColor 2px solid;
                font-family: $baseFont;
                font-weight: bold;
                color: $quaternaryColor;
            }
        }
    }
}
main {
    padding-top: 40px;
    font-family: $baseFont;
    font-weight: 600;
    height: 80vh;
    background: $secondaryColor;
    color: $quaternaryColor;
    font-size: 22px;
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 2px;
        height: 100%;
        select {
                margin: 0 20px;
                padding: 2px;
                background-color: $tertiaryColor;
                border-radius: 4%;
                border: $quaternaryColor 2px solid;
                font-size: 20px;
                font-weight: bold;
                font-family: $baseFont;
                color: $quaternaryColor;
            }
        input {
            margin: 0 20px;
            padding: 6px 10px;
            background-color: $tertiaryColor;
            border-radius: 10%;
            border: $quaternaryColor 2px solid;
            font-family: $baseFont;
            font-weight: bold;
            color: $quaternaryColor;
        }
    }
}
.howTo {
    font-weight: 400;
    text-align: center;
}

.exerciseInfo {
    padding-top: 40px;
    height: min-content;
    h2 {
        padding: 8px;
        display: inline-block;
        border: $quaternaryColor 2px solid;
        background-color: $tertiaryColor;
        height: min-content;
    }
    p {
        font-family: $subFont;
        font-weight: 400;
        padding: 10px;
        display: inline-block;
    }
}

footer {
    font-family: $baseFont;
    font-size: 18px;
    background: $tertiaryColor;
    height: 7vh;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 14px;
        p {
            margin: 0;
            font-weight: 700;
            color: $quaternaryColor;
        }
    }
}

@media (max-width: 940px) {
    main form {
        flex-direction: column;
        select {
            margin-bottom: 40px;
        }
    }
}


@media (max-width: 768px) {
}


@media (max-width: 480px) {
    header .title h1 {
        padding-top: 60px;
        font-size: 48px;
    }
    header .title h2 {
        font-size: 44px;
    }
    header .title i {
        font-size: 40px;
    }
    .navBar{
        i{
            display: none;
        }
        nav {
            align-self: center;
            justify-self: center;
            margin: 0;
        }
    }
    footer div p{
        display: none;
    }
}